*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body{
    margin: 2% 5%;
    width: 90%;
}

img{
    width: 100%;
}

li{
    list-style: none;
    font-weight: bold;
}

.links_related_out{
    display: none;
}

.hour{
    padding: 4px;
    border-right: 1px solid gray;
}

.hour,
.continent{
    display: inline;
}

.clock_icon{
    width: 4%;
}

.new{
    margin-bottom: 2%;
}

.main{
    display: inline-block;
    width: 70%;
}

.principal_new_section{
    display: flex;
    margin-bottom: 2%;
}

.img_container{
    flex-shrink: 1;
    width: 100%;
    padding-right: 1.6%;
}

.aside{
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
}

.principal_new{
    height: 55%;
}

.links_related_in{
    height: calc(45% - 4px);
}

.links_related_in li{
    padding: 2% 0px; 
}

.more_news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more_news .new{
    flex-basis: 30%;
}

.other_news{
    display: inline-block;
}

.flast_news,
.slast_news{
    display: flex;
}

.slast_news .new,
.flast_news .new{
    margin-right: 1%;
}

/**/

h1{
    font-size: 2.2vw;
}

h3{
    font-size: 1.6vw;
}

p,
li{
    font-size: 1.2vw;
}



/*MEDIAQUERIES*/

@media (max-width: 768px) {

    .main{
        display: block;
        margin-right: 0px;
        width: 90%;
    }

    .more_news{
        display: flex;
        flex-direction: column;
    }

    .more_news .new{
        width: 60%;
    }

    .text-middle > p{
        display: none;
    }

    .img_container_mid{
        display: inline-block;
        width: 49%;
    }

    .text-middle{
        display: inline-block;
        width: 49%;
    }

    .principal_new{
        height: 100%;
    }

    .hidden{
        display: none; /*Cómo hacer que se oculten sin clase?? Overflow hidden?*/
    }

    .links_related_in{
        display: none;
    }

    .links_related_out{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
    }

    .links_related_out li{
        display: inline-block;
    }

    /*FONT SIZES*/

    h1{
        font-size: 3.2vw;
    }

    h3{
        font-size: 2.4vw;
    }
    
    p,
    li{
        font-size: 1.8vw;
    }

}

/*

@media (max-width: 933px) {
    /*Bajar las related

    .links_related_in{
        display: none;
    }

}

*/